@page "/EmployeeAdd"
@using BlazorAppCRUD.Data
@using BlazorAppCRUD.Persistence
@using BlazorAppCRUD.Utilities.Enums
@using EnumsNET
@using Microsoft.EntityFrameworkCore
@inject IEmployeeService _employeeService
@inject IEducationService _educationService
@inject ICityService _cityService
@inject IDistrictService _districtService
@inject ICountryService _countryService
@inject IApplicationDbContext _context


<h3>EmployeeAdd</h3>
    @if (employees == null)
    {
    <p>
    <em>
    Loading...
    </em>
    </p>
    }
    else
    {
    <ListEmployeeComponent employees="@employees" />
    }
    <br />
    <br />


@if (employeeSaved)
{
    <AlertComponent Content="Personal information saved !" Description="Please fill in the fields below" Title="Congratulations !" Type="success" />

}

<div class="card shadow  mb-5 bg-white rounded">
    <div class="card-header" style="background-color:white !important; font-size:20px">
        <i class="oi oi-info"></i> Personal Info
    </div>
    <div class="card-body">


        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1"><b>Name</b></label>
                        <input type="text" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Marshall" @bind="employee.Name">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputEmail1"><b>Surname</b></label>
                        <input type="text" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ericson" @bind="employee.Surname">
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1"><b>E-Mail Address</b></label>
                        <input type="text" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="marshallericson@xxx.com" @bind="employee.Email">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputEmail1"><b>Phone</b></label>
                        <input type="number" required maxlength="11" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="59814236547" @bind="employee.Phone">
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <label for="Age" class="control-label"><b>Age</b></label>
                        <input form="number" required maxlength="2" class="form-control" @bind="employee.Age" />
                    </div>

                    <div class="col-md-6">
                        <label for="Country" class="control-label"><b>Country</b></label>
                        <select class="form-select" required aria-label="Default select example" @onchange="CountryChanges" value="@employee.CountryId">

                            <option value="">-Select Country</option>

                            @if (countries != null)
                            {
                                @foreach (var country in countries)
                                {
                                    <option value=@country.CountryId>@country.Name</option>
                                }
                            }
                        </select>
                        @CountryValue
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <label for="City" class="control-label"><b>City</b></label>
                        <select class="form-select" required aria-label="Default select example" @onchange="CitiesChanges">

                            <option value="">-Select City</option>

                            @if (@cities != null)
                            {
                                @foreach (var city in cities)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }

                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="District" class="control-label"><b>District</b></label>
                        <select class="form-select" required aria-label="Default select example" @bind="employee.DistrictId">
                            <option value="">-Select District</option>
                            @if (@districts != null)
                            {
                                @foreach (var district in districts)
                                {
                                    <option value=@district.Id>@district.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1"><b>Address</b></label>
                        <input type="text" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="200 Maryland Avenue NE Washington, D.C. 20002" @bind="employee.Address">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputEmail1"><b>Gender</b></label>
                        <select class="form-select" required @bind="employee.Gender">
                            <option selected>Select a gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>



                <div class="row mt-4">

                    <div class="col-md-6">
                        <label for="exampleInputEmail1"><b>Your Web Site</b></label>
                        <input type="text" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="www.marshallericsonblog.com" @bind="employee.Website">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputEmail1"><b>LinkedIn Address</b></label>
                        <input type="text" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="www.linkedin.com/marshalldev" @bind="employee.Linkedin">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <label for="exampleInputEmail1"><b>Job Description</b></label>
                        <input type="text" required class="form-control" id="most" aria-describedby="emailHelp" placeholder="Jr. Full Stack Web Developer" @bind="employee.JobDescription">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <label for="exampleInputEmail1"><b>Career Objective</b></label>
                        <input type="text" required class="form-control" id="most" aria-describedby="emailHelp" placeholder="To become a good full stack web developer as soon as possible" @bind="employee.CareerObjective">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <label for="exampleInputEmail1"><b>Short Biography</b></label>
                        <textarea type="text" required class="form-control" id="biography" aria-describedby="emailHelp" placeholder="I worked in hepapi technology for 2 years.." @bind="employee.ShortInfo">

                        </textarea>
                    </div>
                </div>


                <div class="row mt-4">
                    <div class="col-md-12 d-flex justify-content-end">
                        <div class="form-group">
                            <input type="button" class="btn btn-success" @onclick="@CreateEmployee" value="Save" />
                        </div>
                    </div>
                </div>

            </div>

        </form>



    </div>
</div>


@if (employeeSaved)
{
    <ShowHideComponent employee="@employee" />
}

@code {

    List<Employee> employees = new List<Employee>();
    Employee employee = new Employee();
    List<City> cities = new List<City>();
    List<District> districts = new List<District>();
    List<Country> countries = new List<Country>();
    List<PositionType> positionTypes = new List<PositionType>();

    bool employeeSaved;

    //CountryValue adında bir prop tanımlıyorum.İçerisine onchange olduğunda e.value değerini atamak için.
    public int CountryValue { get; set; }


    async void CountryChanges(ChangeEventArgs e)
    {
        //Country Onchange olduğunda gelen değeri CountryValue'ya attım.
        CountryValue = int.Parse(e.Value.ToString());
        cities = await _cityService.GetSelectedCities(int.Parse(e.Value.ToString()));

        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    async void CitiesChanges(ChangeEventArgs e)
    {

        districts = await _districtService.GetDistricts(int.Parse(e.Value.ToString()));

        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    protected override async Task OnInitializedAsync()
    {

        employees = await _employeeService.GetEmployees();
        cities = await _cityService.GetCities();
        countries = await _countryService.GetCountries();
    }

    private async void CreateEmployee()
    {

        positionTypes = Enum.GetValues(typeof(PositionType)).Cast<PositionType>().ToList();
        employeeSaved = await _employeeService.Create(employee);

        if (employeeSaved)
            employees = await _employeeService.GetEmployees();

        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    }
