@using BlazorAppCRUD.Data
@using BlazorAppCRUD.Persistence
@inject IApplicationDbContext _context

<table class="table border">
    <thead>
        <tr>
            <th>Name</th>
            <th>City. (C)</th>
            <th>Country. (F)</th>
            <th>Gender</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var emp in employees)
        {
            <tr>
                <td>@emp.Name</td>
                <td>@emp.District.City.Name</td>
                <td>@emp.Country.Name</td>
                <td>@emp.Gender</td>
                <td>@emp.BirthDate</td>
            </tr>
        }

    </tbody>
</table>

@code {

    [Parameter] public List<Employee> employees { get; set; }

}