@using BlazorAppCRUD.Data
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>City. (C)</th>
            <th>Country. (F)</th>
            <th>Gender</th>
            <th>Village</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
 
             @foreach (var emp in employees)
            {
                <tr>
                    <td>@emp.EmployeeName</td>
                    <td>@emp.EmployeeCityId</td>
                    <td>@emp.EmployeeCountry</td>
                    <td>@emp.EmployeeGender</td>
                    <td>@emp.EmployeeVillage</td>
                    <td>@emp.EmployeeAge</td>
                </tr>
            }

    </tbody>
</table>

@code {

    [Parameter] public List<Employee> employees { get; set; }

}